################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyFirstBankApp/MyFirstBankApp/bin/Debug
/MyFirstBankApp/MyFirstBankApp/obj/Debug
